<html>
    <head>
    </head>

    <body>
        
        You have successfully authenticated!
        
        <br>
        <form action="/cmd/Twitter/Post" method="get">
          Tweet: <input type="text" name="status"><br>
          <input type="submit" value="Submit">
        </form>
        
    </body>

</html>