<html>
    <head>
        <meta property="fb:app_id"          content="512891192510961" /> 
        <meta property="og:type"            content="article" /> 
        <meta property="og:url"             content="http://localhost:3000/success" /> 
        <meta property="og:title"           content="Testing" /> 
        <meta property="og:description"    content="Testing dumb stuff" />
        <meta property="og:image"           content="http://localhost:3000/images/Flameo.jpg" /> 
    </head>

<!--
    <script>
    function post(){
        window.location = "https://www.facebook.com/dialog/feed?app_id=512891192510961&display=popup&redirect_uri=http://localhost:3000/success"
        
    }
    </script>
-->
    <body>
        You have successfully authenticated!
        
<!--        <button onClick="post()">Post to Facebook</button>-->
        
    </body>

</html>